<!DOCTYPE html>
<html>
<head>
    <title>Workplace</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/plugins/CSSPlugin.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/easing/EasePack.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/TweenLite.min.js"></script>
    <%= csrf_meta_tags %>
</head>
<body>

<p class="flash"><%= flash.notice %></p>
<p class="alert"><%= flash.alert %></p>

<h1><%= content_for?(:header) ? content_for(:header) : "Workplace" %></h1>

<% if user_signed_in? %>
    <svg version="1.1" id="menu_button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g>
            <path d="M3,18h18v-2H3V18z M3,13h18v-2H3V13z M3,6v2h18V6H3z" id="menu_button_paths"></path>
        </g>
    </svg>
    <nav>
        <%= link_to "Home", authenticated_root_path, :class => "#{cp(authenticated_root_path)}" %>
        <%= link_to "Projects", projects_path, :class => "#{cp(projects_path)}" %>
        <%= link_to "Employees", employees_path, :class => "#{cp(employees_path)}" %>
        <%= link_to "Organizations", organizations_path, :class => "#{cp(organizations_path)}" %>
        <%= link_to "Jobs", jobs_path, :class => "#{cp(jobs_path)}" %>
        <%= link_to current_user.full_name, employee_path(current_user), :class => "#{cp(employee_path(current_user))}" %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </nav>
<% end %>

<div id="main_container" class="center">
    <%= yield %>
</div>

<p id="daraul_promotion_link">Created by <a href="https://github.com/thurst306/workplace" alt="Workplace github link" target="_blank">Daraul Harris</a>.</p>

</body>
</html>
